# .net
ASPNETCORE_PORT=8080
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_LOGGING_LEVEL=Information
ASPNETCORE_JWT_KEY=
ASPNETCORE_JWT_ISSUER=weather
ASPNETCORE_JWT_AUDIENCE=weather
ASPNETCORE_FRONTEND_URL=http://localhost:5173

# database
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# mosquitto
MQTT_PORT=1883
MQTT_WS_PORT=9001
MQTT_HOST=eclipse-mosquitto
MQTT_USER=admin
MQTT_PASSWORD=mateo2002
